<head>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="../assets/css/calendar.css" rel="stylesheet" type="text/css" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" ></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/calendar.js" type="text/javascript"></script>

    <title>Calendar</title>
</head>

<body>
    <div id="calendar">
        <div id="calendar_header"><i class="icon-chevron-left"></i>
            <h1></h1><i class="icon-chevron-right"></i>
        </div>
        <div id="calendar_weekdays"></div>
        <div id="calendar_content"></div>
    </div>

    <div class="doughnautDisplay" >
        <canvas class="doughnutChart" ></canvas>
    </div>

</body>