@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
	margin: 0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
  }
::-webkit-scrollbar-thumb{
	background-color: #27AE60;
	height: 10px;
}
table{
	border-collapse: collapse;
	width: 100%;
	border: none;
}
th, td {
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even){
	  background-color: #ffffff
	}

  th {
	background-color: #4CAF50;
	color: white;
  }
  tr:nth-child(odd){
	  background-color: rgb(223, 223, 223);
  }
  tr:nth-child(odd):hover{
	  background-color: ghostwhite;
	  transition: ease .3s;
  }
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 7%	;
}
.indexmain{
	background-image: url('../images/bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
li, a, button{
	font-weight: 500;
	color: #000;
	text-decoration: none;
	font-size: 16px;
}
.navlinks{
	list-style: none;
	padding-left:300px;	
}
.navlinks li{
	display:flex;
	justify-content: center;

}
.navlinks li a{
	transition: all 1s ease 0s;
	padding-left: 30px;
}
.navlinks li a:hover{
	color: #FF740F;
}
button{
	padding: 9px 22px;
	background-color: #FF740F;
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	cursor: pointer;
}
button:hover{
	background-color: rgb(255, 163, 97);
}
/*.bgimg{
	display: flex;
	justify-content: flex-end;
	height:100%;
	width:100%;
}*/
/*image{
	height:100%;
	width:100%;
	object-fit: cover;
	object-position: center;
}*/
.container{
	display: flex;
	padding:10px 7%	;
	min-height: 85vh;
}
.container1{
	display: flex;
	padding:10px 7%	;
	min-height: 100vh;
	background-color: #fff;
	
}
.container2{
	display: flex;
	padding:10px 7%	;
	min-height: 100vh;
	background-color: #27AE60;
	
}
.container3{
	display: flex;
	padding:10px 7%	;
	min-height: 80vh;
	background-color: #fff;
	
}
.index-txt{
	flex: 2;
}
.bgimg{
	flex: 1;
	flex-grow:3;

}
.bullet{
	fill: #FF740F;

}
.startbtn{
	padding: 15px 60px;
	background-color: #FF740F;
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	cursor: pointer;
	
}
.active{
	color: #FF740F;
}
.heading{
	font-size: 45px;
}
.subindex-txt{
	display: flex;
	flex-direction: column;	
	flex: 2;
	align-self: center;
}
.subindex-bg{
	display: flex;
	flex: 1;
	align-items: center;
}
/*.foodimg{
	display: flex;
	justify-content: space-around;
}*/
.footer {
  min-height: 10vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #27AE60;
  color: white;
  text-align: center;
  padding-top: 35px;
}
.tracknowmain{
	background-image: url('../images/tracknow.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
} 
.tracknow-content{
 display: flex;

 justify-content: space-around;
}
.tracknow-graph{
	background-color: #fff;
	min-width: 45vw;
	min-height: 70vh;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px 10px grey;
}
.tracknow-entry{
	background-color: #fff;
	min-width: 45vw;
	display: flex;
	justify-content: stretch;
	border: none;
	border-radius: 10px;
	box-shadow: 3px 3px 10px grey;
}
.entry-img{
	background-size: 200% 100%;
	background-image: url(../images/tracknowentry.jpg);
	min-width: 22vw;
	border: none;
	border-radius: 10px;
	background-repeat: no-repeat;
}
.entry-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 20px;
}
.analyzebtn{
	background-color: #6ACC00;
	 margin-left:10px; 
	 margin-right: 10px; 
	 margin-top: 15px;
	 transition: all 0.3s ease 0s;
	 cursor: pointer;
}
.analyzebtn:hover{
	background-color: rgb(160, 255, 59);
}
.chart{
	
}
.result-container{
	display: flex;
	justify-content: space-between;
	margin: 0px 6%;
}

.result-calendar{
	/* background-color: #6ACC00; */
	width: 25vw;
	height: 26vw;
	border: rgb(211, 211, 211);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
}
.result-foodlist{
	height: 29.5vh;
	/* border: rgb(211, 211, 211);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px; */
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 28px;
	margin-top: 10px;
}
.result-data-container{
	display: flex;
	flex-direction: column;
	width: 60vw;
}
.result-data-container1{
	display: flex;
	flex-direction: column;
	width: 60vw;
	border-left: rgb(211, 211, 211);
	border-style: solid;
	border-width: 2px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	
}
.result-graph{
	/* background-color: #FF740F; */
	height: 52vh;
	/* border: rgb(211, 211, 211);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px; */
	margin-left: -15px;
	width: 64vw;
}
.result-chart-container{
	display: flex;
	justify-content:space-around;
	height: 30vh;
	padding-top: 5px;
}
input.foodname{
	width: 16vw;
	border-radius: 50px;
	height: 5vh;
	padding: 10px;
}
.add_food{
	width: 120px;
	margin-top: 5vh;
}

.result-chart{
	/* background-color: aqua; */
	display: flex;
	width: 20vw;
	border: rgb(211, 211, 211);
	/* border-radius: 10px;
	border-style: solid;
	border-width: 2px; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	margin-top: 10px;
	
}
.result-data{
	/* background-color: blueviolet; */
	margin-top: 10px;
	width: 39vw;
	overflow: auto;
	overflow-x: hidden;
	/* border: rgb(211, 211, 211);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px; */
	
}
.foodlist-table{
	border: 1px solid black;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.login-main{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url(../images/tracknow1.jpg);
}
.form-body{
	display: flex;
	background-color:#fff;
	flex-direction: column;
	height: 450px;
	width: 300px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(32, 32, 32);
	
}
.username{
	border: 1px solid lightblue;
	padding: 10px 20px 10px 20px;
	font: inherit;
	border-radius: 10px;
	
}
.password{
	border: 1px solid lightblue;
	padding: 10px 20px 10px 20px;
	font: inherit;
	border-radius: 10px;
	
}
.submit{
	width: 250px;
}
 a.register{
	 color: #FF740F;
 }
 a.register:hover{
	 color:peru;
 }
 .avgdata{
	 display: flex;
	 flex-direction: column;
	 margin-left: 30px;
	 width:30vw ;
	 padding-top: 20px;
	 padding-left: 20px;
	 background-color: white;
	 box-shadow: 3px 3px 10px grey;
	 border-radius: 10px;
	 color: rgb(39, 39, 39);
 }
 a.navlink-uname{
	
	 margin-right: -130px;
 }
.dashboard-container {
	display: flex;
	/* flex-flow: column; */
	justify-content: space-around;
	overflow-x: hidden;
	
}
.dashboard-graph{
	
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 50vw;
	border-right: rgb(211, 211, 211);
	border-style: solid;
	border-width: 2px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	
	
}
.dashboard-add{
	display: flex;
	justify-content: space-around;
	min-width: 50vw;
	height: 35vh;
}

.add-food {
	
	height: 32vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin: 0% 3% 1% 3%;
	width:30vw ;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: white;
	box-shadow: 3px 3px 10px grey;
	border-radius: 10px;
	color: rgb(39, 39, 39);
}

.add_food{
	margin-top: 10% !important;
}

.data-display {
	width: 97%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0% 3% 1% 3%;

}

.table-display {
	width: 50vw;
	height: 40vh;
	overflow: auto;
	margin: 1% 0.5% 1% 1%;
	padding: 1% 1% 1% 1%;
	
}

.chart-display {
	width: 48vw;
	height: 50vh;
	margin: 1% 1% 1% 0.5%;
	padding: 1% 1% 1% 1%;
}

.add-container{
	display: flex;
	min-width: 50vw;
	height: 35vh;
	flex-direction: column;

}
.calories-container{
	display: flex;
	background-color: white;
	text-align: center;
	padding: 30px 30px 30px 10px;
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 20px;
	height: 50vh;
	box-shadow: 2px 2px 10px gray;
	border-radius: 10px;
}
.calories1{
	width: 30vw ;
}
.age,.height_ft,.height_in,.weight{
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
}
.caloriesDisplay{
	color: #4CAF50;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
.gender{
	width: 255px;
	height: 25px;
	margin-bottom: 5px;
}


.caloriesDisplay1{
	color: #4CAF50;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

