
.reverse-spinner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    height: 200px;
    width: 200px;
    border: 4px solid transparent;
    border-top-color: #1976d2;
    border-left-color: #1976d2;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .reverse-spinner::before {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    content: "";
    border: 4px solid transparent;
    border-top-color: #03a9f4;
    border-left-color: #03a9f4;
    border-radius: 50%;
    -webkit-animation: spinBack 1s linear infinite;
    animation: spinBack 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
  }
  
  @keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
  }
  
  
  @-webkit-keyframes spinBack {
      from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    to {
          -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
    }
  }
  
  @keyframes spinBack {
    from {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    to {
          -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
    }
  }